.foobar{
    color: $text;
    background-color: $bg;
    border-radius: 32px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 6px;
    margin-right: 6px;
}
///murp
/// 
///
.padding{
    margin-bottom: 0px;
}

// WIDGETS
//BAR CLOCK
.bar-clock{
    background-color: $t;
}
.bar-battery{
    
}
