.pomo-ended{
    font-size: 100px;
    font-family: "PoiretOne";
    font-weight: normal;
}

.pomo-ended-button{
    min-width: 256px;
    margin-left: (640px - 256px)/2;
    margin-right: (640px - 256px)/2;
    margin-top: ((180px - 64px)/2) - 42px;
    margin-bottom: ((180px - 64px)/2) + 42px;

    font-family: "Okruglizm";
    font-size: 32px
}
